/* raleway font */
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* inter font */
.inter-secondary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f8ff;
}
/* shared styles */
.secondary-text-color {
  color: #4e47ff;
}
.primary-text-color {
  color: #252432;
}

.btn-primary {
  font-size: 16px;
  background-color: #4e47ff;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
}
.text-center {
  align-items: center;
}
button:hover {
  cursor: pointer;
  background-color: yellowgreen;
}

/* nav styles */
.nav-bar {
  max-width: 1140px;
  height: 151px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
nav-logo {
  font: 34px;
  font-weight: 900;
  width: 99px;
  height: 51px;
}
.banner {
  text-align: center;
  padding-bottom: 152px;
  margin-top: 220px;
}
.banner-title {
  margin-bottom: 37px;
  font-size: 65px;
}

.header {
  background-image: url(../Assets/Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* action section styles */
main section {
  border: 2px solid red;
  width: 1140px;
  margin: 116px auto;
}
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 23px;
}
.action-description {
  width: 517px;
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}
.action img {
  width: 403px;
  border-radius: 48px;
}

/* productive user section styles */
.productive-users {
  background-color: #d6dded;
  border-radius: 24px;
  padding: 50px 0px;
}
.user {
  text-align: center;
}
.users-title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.user-number {
  display: flex;
  justify-content: space-around;
}
.number {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
}
.user-desc {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

/* feedback section styles */
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  justify-content: center;
  width: 290px;
  height: 243px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 2px solid rgba(242, 237, 237, 1);
}
.card h1 {
  margin: 24px 0;
  /* Heading */
  color: rgb(30, 30, 30);
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}
.feedback-desc {
  /* Body Base */
  color: rgb(30, 30, 30);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.flex-part-2 {
  display: flex;
  margin: 24px 0;
  gap: 12px;
}
.avatar {
  border-radius: 20px;
}
.reviewer,
.date {
  color: rgb(117, 117, 117);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

/* form section styles */
.form-section {
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-section-title {
  width: 530px;
  font-size: 97px;
  font-weight: bold;
}
.form-part {
  width: 490px;
}
.form-part label,
.form-part input,
.form-part textarea {
  display: block;
  margin: 16px 0;
  border-radius: 5px;
  border: none;
}
.form-part input,
.form-part textarea {
  width: 94.5%;
  padding: 12px;
}
.form-part button {
  width: 99.5%;
}
footer {
  margin: 0 auto;
  width: 531px;
  text-align: center;
  padding: 104px 454px;
  background: white;
}
.foot-logo {
  font-size: 100px;
  color: rgba(78, 71, 255, 1);
}
footer p {
  color: #8987a1;
}
.foot-desc {
  margin: 8px 0 20px;
}
.foot-card ul {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
}
.foot-card li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #8987a1;
}
